/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container::before{
	content:"Before Element";
	font-size:20px;
	color: red;
}
#container::after{
	content:"After Element";
	font-size:20px;
	color: red;
}